nav {
   height: 2.5rem;
   line-height: 0.9rem;
   background-image: linear-gradient(to top, rgb(105, 0, 0), rgb(255, 0, 0));
}
ul {
   position: relative;
   display: inline-block;
   width: 279px;
   left: 50%;
   margin: 0 0 0 -140px;
   padding: 0;
   & li {
      padding: 0.85rem 0.25rem;
      display: block;
      float: left;
      width: 85px;
      text-align: center;
      & a {
         text-decoration: none;
         color: lightgray;
         font-weight: 300;
         text-shadow: 0 0 2px black;
      }
   }
}
ul li a:hover {
   color: rgb(255, 255, 255);
   text-shadow: 0 0 4px red;
}