@font-face {
   font-family: 'Romantiques';
   src: url('../../../public/fonts/Romantiques.ttf')
}

.centered {
   width: 100%;
   position: relative;
   left: 0;
   margin: 0 0 0 0;
}
header {
   background-image: linear-gradient(to top, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.5), rgba(255, 0, 0, 0.25)), url('../../../public/drone.jpg');
   background-size: cover;
   background-position: center center;
   overflow: hidden;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   & .overlay {
      width: 100%;
      height: 400px;
      background-image: linear-gradient(rgba(255, 255, 255, 0.65), transparent, transparent);
      position: absolute;
      left: 0;
      right: 0;
      border: 2px solid red;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
   }
}

h1 {
   font-size: 2.5rem;
   font-family: 'Romantiques';
   font-weight: 100;
   color: rgb(0, 0, 0);
   text-shadow: -1px -1px 0 rgb(255, 255, 255);
   margin: 1.5rem 0 0;
}
nav {
   width: 100%;
   height: 2.5rem;
   line-height: 0.9rem;;
   background-image: linear-gradient(to top, rgb(105, 0, 0), rgb(255, 0, 0));
}
ul {
   display: inline;
   width: 40%;
   & li {
      padding: 0.85rem 0.25rem;
      display: block;
      float: left;
      width: 85px;
      & a {
         text-decoration: none;
         color: lightgray;
         font-weight: 300;
      }
   }
}
ul li a:hover {
   color: white;
}
article, aside { 
   float: left; 
   text-wrap: wrap;
}
p { 
   font-size: 1.5rem;
   text-shadow: -1px -1px 0 rgb(255, 255, 255);
   text-align: center; 
}
img {
   position: relative;
   margin: 1rem 0 -1rem;
   left: 30%;
}
.row {
   width: 100%;
   display: inline-flex;
}
// .row::after {
//    content: "";
//    clear: both;
//    display: table;
// }
.col-half {
   width: 47.5%;
   padding: 1.5rem 1rem 1rem;
}
.col {
   display: block;
   float: left;
   &-3 {
      width: 29.9%;
   }
   &-9 {
      width: 69.9%
   }
}
@media only screen and (min-width: 600px) {

}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 800px) {
   .centered {
      width: 800px;
      position: relative;
      left: 50%;
      margin: 0 0 0 -400px;
   }
   header {
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 0, 0, 0.25)), url('../../../public/drone.jpg');
      background-size: cover;
      background-position: center center;
      overflow: hidden;
      border-top-left-radius: 21px;
      border-top-right-radius: 21px;
      & .overlay {
         width: 796px;
         height: 400px;
         background-image: linear-gradient(rgba(255, 255, 255, 0.65), transparent, transparent);
         position: absolute;
         left: 0;
         right: 0;
         border: 2px solid red;
         border-top-left-radius: 21px;
         border-top-right-radius: 21px;
      }
   }
}