<!-- <div class="wrapper">
   <div class="card">
     <img src="ashley.png" height="250" alt="ashley">
     <h1>Ashley's</h1>
     <p>photo & video gallery</p>
   </div>
 </div> -->

<div class="header">
  <div class="row" style="margin: 0;">
    <div class="col-3">
      <img src="ashley.png" height="250" alt="ashley">
    </div>
    <div class="col-9">
      <h1>Ashley's</h1>
      <p>photo & video gallery</p>
    </div>
  </div>

  
  
  
</div>

<div class="row">
  <div class="col-3 col-s-3 menu">
    <ul>
      <li>The City</li>
      <li>The Beach</li>
      <li>Glamour</li>
    </ul>
  </div>

  <div class="col-6 col-s-9">
    <h1>The City</h1>
    <p>
      Ashley loves Saint Petersburg and shows it in her photo shoots at interesting places throughout the city.
    </p>
  </div>

  <div class="col-3 col-s-12">
    <div class="aside">
      <!-- <h2>What?</h2>
      <p>Chania is a city on the island of Crete.</p>
      <h2>Where?</h2>
      <p>Crete is a Greek island in the Mediterranean Sea.</p>
      <h2>How?</h2>
      <p>You can reach Chania airport from all over Europe.</p> -->
    </div>
  </div>
</div>

<div class="footer">
  <p>
    &copy;2024 Eldis Rice Web Developer
  </p>
</div>
