<!-- <div class="wrapper">
   <div class="card">
     <img src="ashley.png" height="250" alt="ashley">
     <h1>Ashley's</h1>
     <p>photo & video gallery</p>
   </div>
 </div> -->

<header class="centered">
  <div class="row">
    <!-- <div class="overlay" style="z-index: 100;"></div> -->
    <div class="col col-3" style="z-index: 101;">
      <img src="ashley.png" height="150" alt="ashley" />
    </div>
    <div class="col col-9" style="z-index: 110;">
      <article>
        <h1>Ashley's</h1>
      </article>
    </div>
  </div>
</header>


<!-- <div class="row">
  <article class="col-half">
    <h1>The City</h1>
    <p>
      Ashley loves Saint Petersburg and shows it in her photo shoots at
      interesting places throughout the city.
    </p>
  </article>
  <aside class="col-half">
    <h2>What?</h2>
    <p>Chania is a city on the island of Crete.</p>
    <h2>Where?</h2>
    <p>Crete is a Greek island in the Mediterranean Sea.</p>
    <h2>How?</h2>
    <p>You can reach Chania airport from all over Europe.</p>
  </aside>
</div> -->





