<!-- Portfolio-->
<div id="portfolio" class="bg-primary" style="width: 100%">
  <div class="row pt-4 g-0">
    <ul
      class="nav justify-content-center nav-tabs"
      style="border: 1px solid transparent"
    >
      <li class="nav-item">
        <a class="nav-link" [class]="group === 'walks' ? 'active' : ''" (click)="getPhotos('walks')"
          >Walk by the water</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [class]="group === 'construction' ? 'active' : ''" (click)="getPhotos('construction')">Construction Working</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class]="group === 'jeans' ? 'active' : ''" (click)="getPhotos('jeans')">Jeans</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class]="group === 'railroad' ? 'active' : ''" (click)="getPhotos('railroad')">Walk the rails</a>
      </li>
    </ul>
  </div>
  <div class="container-fluid p-0" id="wrapper">
    <div class="row g-0">
      @for (photo of photos; track photo.id) {
      <div class="col-lg-4 col-sm-6">
        <a
          class="portfolio-box"
          [href]="'img/photos/' + photo.image + '.jpg'"
          [title]="photo.title"
          [attr.data-lightbox]="photo.group"
          [attr.data-title]="photo.group"
        >
          <img
            class="img-fluid img-portfolio"
            [src]="'img/photos/thumbnails/' + photo.image + '-thumb.jpg'"
            [alt]="photo.title"
          />
          <div class="portfolio-box-caption">
            <div class="project-category">{{ photo.group }}</div>
            <div class="project-name">{{ photo.title }}</div>
          </div>
        </a>
      </div>
      }
    </div>
  </div>
</div>
