        <!-- Portfolio-->
        <div id="portfolio" class="bg-primary" style="width: 100%;">
            <div class="row g-0">
                <ul class="nav justify-content-center nav-tabs" style="border: 1px solid transparent;">
                    <li class="nav-item text-white">
                      <a class="nav-link active" style="color: black;" href>Walk by the water</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color: black;" href>Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color: black;" href>Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color: black;" href>Disabled</a>
                    </li>
                  </ul>
            </div>
         <div class="container-fluid p-0">

             <div class="row g-0">
                 <div class="col-lg-4 col-sm-6">
                     <a class="portfolio-box" href="img/photos/boardwalk-01.jpg" title="Walk by the water" data-lightbox="image-1" data-title="Walks">
                         <img class="img-fluid img-portfolio" src="img/photos/thumbnails/boardwalk-01-thumb.jpg" alt="..." />
                         <div class="portfolio-box-caption">
                             <div class="project-category">Walks</div>
                             <div class="project-name">Walk by the water</div>
                         </div>
                     </a>
                 </div>
                 <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/photos/boardwalk-02.jpg" title="Walk by the water" data-lightbox="image-1" data-title="Walks">
                        <img class="img-fluid img-portfolio" src="img/photos/thumbnails/boardwalk-02-thumb.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category">Walks</div>
                            <div class="project-name">Walk by the water</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/photos/boardwalk-03.jpg" title="Walk by the water" data-lightbox="image-1" data-title="Walks">
                        <img class="img-fluid img-portfolio" src="img/photos/thumbnails/boardwalk-03-thumb.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category">Walks</div>
                            <div class="project-name">Walk by the water</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/photos/boardwalk-04.jpg" title="Walk by the water" data-lightbox="image-1" data-title="Walks">
                        <img class="img-fluid img-portfolio" src="img/photos/thumbnails/boardwalk-04-thumb.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category">Walks</div>
                            <div class="project-name">Walk by the water</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/photos/boardwalk-05.jpg" title="Walk by the water" data-lightbox="image-1" data-title="Walks">
                        <img class="img-fluid img-portfolio" src="img/photos/thumbnails/boardwalk-05-thumb.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category">Walks</div>
                            <div class="project-name">Walk by the water</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/photos/boardwalk-06.jpg" title="Walk by the water" data-lightbox="image-1" data-title="Walks">
                        <img class="img-fluid img-portfolio" src="img/photos/thumbnails/boardwalk-06-thumb.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category">Walks</div>
                            <div class="project-name">Walk by the water</div>
                        </div>
                    </a>
                </div>

             </div>
         </div>
     </div>