@font-face {
   font-family: 'DS Moulin Rouge';
   src: url('../../public/fonts/Romantiques.ttf')
}
.wrapper {
   width: 100%;
   display: inline-flex;
}
.card {
   width: 800px;
   position: relative;
   background-image: linear-gradient(to top, rgba(255, 55, 0, 0.35), rgba(255, 55, 0, 0.8));
   color: rgb(0, 0, 0);
   margin: 1rem -400px 1rem;
   left: 50%;
   border-radius: 9px;
   border: 2px solid rgb(255, 55, 0);
}
img { float: left; }
h1 {
   font-family: 'DS Moulin Rouge';
   font-size: 102px;
   font-weight: 100;
   color: rgba(0, 0, 0, 0.65);
   text-shadow: -1px -1px 1px rgb(255, 55, 0);
}